@media(min-width:1470px) {
  .custom-container,.container-second {
    max-width:1440px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1680px) {
  .custom-container {
    max-width: 1722px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .container-second {
    max-width: 1520px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media(max-width:2600px){
  // baby-genius //
  .baby-genius{
    background-position:bottom;
  }

}

@media(max-width:1920px){
  // baby-genius //
  .baby-genius{
    background-position:center;
  }

  // stimulation
  .stimulation{
    &:before{
      background-image: url(../images/stimulation/before2.png);
      height:172px;
    }
  }

  // scientific
  .scientific{
    padding-top:88px;
    &:before{
      background-image: url(../images/scientific/before2.png);
      height: 150px;
    }
  }

  // testimonial //
  .testimonial{
    &:before{
      background-image: url("../images/testimonial/before2.png");
      height:132px;
    }
    &:after{
      background-image: url("../images/testimonial/after2.png");
      height:155px;
    }
  }

  // phone view //
  .phone-view {
    margin-bottom: 212px;
    .title-1{
      margin-top:141px;
    }
  }

  // footer //
  footer{
    padding-top:156px;
  }

  // about //
  .about{
    //background-image: url(../images/about/bg-img2.png) !important;
    &:before{
      background-image: url(../images/about/before2.png);
      height:152px;
    }
    .about-contain{
      height:702px;
    }
  }


  // our teamm //
  .our-team{
    padding-bottom: 218px;
    &:after{
      display:none;
    }
    &:before{
      background-image: url(../images/team/before2.png);
      height:100%;
      top:0;
      background-position:top;
    }
  }

  // advisory //
  .advisory{
    padding-top: 97px;
    &:before{
      background-image: url("../images/advisory/before2.png");
      height:160px;
    }
    &:after{
      background-image: url("../images/advisory/after2.png");
      height:132px;
    }
  }


}

@media(max-width:1800px){
  // title //
  .title-1{
    h2{
      font-size:50px;
    }
    p{
      font-size:20px;
    }
  }

  //header //
  header{
    padding-top:45px;
    .about-link{
      right:40px;
    }
  }

  // baby genius //
  .baby-genius {
    background-position:bottom;
    .animat-block {
      .cloud3{
        height:35px;
      }
    }
    .baby-genius-contain{
      height:950px;
    }
  }

  //stimulation
  .stimulation {
    .stimulation-contain {
      ul.stimulate-main {
        li {
          .content-wrraper {
            h3{
              font-size:40px;
            }
            p{
              font-size:20px;
            }
          }
        }
      }
    }
  }


  // testimonial //
  .testimonial {
    .mt-60{
      margin-top:-51px;
    }
    .width-528{
      width: 497px;
      height: 376px;
    }
    .width-415{
      height:427px;
    }
    .width-472{
      height:376px;
    }
    .width-417{
      height:376px;
    }
    .testimonial-box {

      &.box1-pl1{
        margin-left:-40px;
      }
      > div{
        padding-top:60px;
      }
      ul{
        margin-bottom:15px;
        li{
          i{
            font-size:18px;
          }
        }
      }
      h3{
        font-size:30px;
      }
    }
    .testimonial-block{
      >div{
        margin-left: -10px;
      }
    }
  }





}

@media(max-width:1679px){
  .arrow-1 {
    .slick-prev,.slick-next{
      &:before{
        font-size:50px;
      }
    }
    .slick-prev{
      left:-30px;
    }
    .slick-next{
      right:-30px;
    }
  }

  // header //
  header{
    .brand-logo{
      img{
        width:auto;
        height:110px;
      }
    }
  }

  //baby genius//
  .baby-genius {

    .baby-genius-contain {
      height:920px;
      h4{
        font-size:24px;
      }
      h2{
        font-size:50px;
        margin-bottom:15px;
      }
      p{
        font-size:20px;
      }
    }
    ul.icon-block{
      li{
        img{
          width: 40px;
        }
      }
    }
  }

  // scientific //
  .scientific {
    .scientific-box {
      .scientific-contain {
        p{
          line-height:1.4;
          font-size:20px;
        }
      }
    }
  }

  // our mission //
  .our-mission {
    padding-top: 210px;
    padding-bottom:72px;
    .title-1 {
      h2{
        font-size:48px;
        margin-bottom:15px;
      }
    }
    p{
      font-size:24px;
      line-height: 1.4;
      width:auto;
    }
    .img-wrraper{
      margin-bottom:45px;
      //img{
      //  width:60%;
      //}
    }
    .our-mission-contain {
      p{
        &:nth-child(n+2){
          margin-top:20px;
        }
      }
    }

    .our-mission-block{
      padding: 0 100px;
    }
  }

  // terms & condition
  .condition-section {
    .terms-details {
      ul {
        li {
          font-size: 24px;
          line-height: 1.4;
        }
      }
    }
  }

  // our team //
  .our-team {
    padding-top:65px;
    overflow: hidden;
    &:before{
      top:-20%;
    }
    .title-1{
      margin-bottom:50px;
    }
    .team-box{
      height:450px;
      margin-right:15px;
      margin-left:15px;
      .front,.back{
        .team-detail{
          padding-top:30px;
          padding-left:30px;
          padding-right:30px;
        }
        h3{
          font-size:30px;
        }
        h5,h4{
          font-size:20px;
        }
        h4{
          padding-bottom:20px;
        }
        p{
          font-size:18px;
        }
      }
    }
  }

  // advisory block //
  .advisory{
    padding-top:57px;
    padding-bottom:58px;
    &:before,&:after{
      background-position:center;
    }
    .title-1{
      margin-bottom:35px;
    }
    .advisory-block {
      > div{
        margin-bottom:-55px;
        .advisory-box{
          margin-bottom: 55px;
        }
      }
    }

    .advisory-box {
      .img-wrraper {
        img{
          //width: 330px;
        }
      }
      .advisory-detail {
        margin-top:20px;
        h2{
          font-size: 25px;
        }
        h3{
          font-size: 16px;
        }

        .hover-contain {
          p{
            font-size:14px;
          }
        }

      }

    }
  }


  // about //
  .about {
    .about-contain{
      height:635px;
    }
  }


  // testimonial //
  .testimonial {
    .testimonial-box {
      h3{
        font-size:28px;
      }
      p{
        font-size:20px;
      }
      > div{
        padding-top:75px;
      }
    }
  }


  // footer //
  footer {
    .footer-main {
      .footer-left {
        .brand-logo{
          img{
            height:110px;
          }
        }
      }
    }
  }




}

@media(max-width:1508px) {
  .custom-container,.container-second{
    padding-left:80px;
    padding-right:80px;
  }

  // our team //
  .our-team {
    .team-box {
      .front,.back {
        h3{
          font-size:30px;
        }
        h5,h4{
          font-size:18px;
        }
        h4{
          padding-bottom:10px;
        }
        p{
          font-size:16px;
        }
      }
    }
  }

}

@media(max-width:1470px) {
  .custom-container,.container-second {
    max-width: 100%;
    padding-right: 80px;
    padding-left: 80px;
    margin-right: auto;
    margin-left: auto;
  }
  .title-1 {
    h2{
      font-size:45px;
    }
    p{
      font-size:18px;
    }
  }

  //header //
  header {
    padding-top:30px;
    .brand-logo{
      img{
        height:90px;
      }
    }
  }

  //baby genius//
  .baby-genius {
    //background-position:30%;
    .icon-block{
      bottom:16%;
    }
    .baby-genius-contain{
      height: 815px;
      h2{
        font-size:40px;
      }
    }
  }

  // stimulation //
  .stimulation {
    padding-top:60px;
    .title-1 {
      margin-bottom: 50px;
      h2{
        margin-bottom:15px;
      }
      p{
        width:80%;
      }
    }
    .stimulation-contain {
      ul.stimulate-main {
        margin-left: auto;
        margin-right: auto;
        li {
          .img-wrraper{
            width: 30%;
          }
          .content-wrraper{
            width: fit-content;
            h3{
              font-size:30px;
            }
            p{
              font-size:18px;
              width:486px;
            }
          }
        }
      }
    }
    .animat-block {
      .animat4,.animat1,.animat3{
        width:50px;
        height:auto;
      }
      .animat2{
        width:30px;
        height:auto;
      }
    }
  }

  // Scientific //
  .scientific{
    padding-bottom:60px;
    .title-1{
      margin-top:150px;
      margin-bottom:30px;
    }
    .scientific-box{
      .icon-wrapper{
        margin-bottom:25px;
        img{
          width:auto;
          height:60px;
        }
      }
      .scientific-contain{
        padding-left: 30px;
        min-height: 375px;
        max-height: 375px;
        p{
          font-size:17px;
        }
      }
    }
  }

  // Phone view //
  .phone-view {
    padding-top: 79px;
    margin-bottom:220px;
    .title-1{
      margin-top:135px;
      margin-bottom:40px;
      h2{
        margin-bottom:11px;
      }
      ul.phone-view-icon{
        margin-top:25px;
      }
    }
  }

  // our misiion //
  .our-mission{
    padding-top:175px;
    padding-bottom:68px;
  }

  //Testimonial //
  .testimonial{
    padding-top:64px;
    padding-bottom:68px;
    .owl-stage-outer{
      margin-left: -20px;
    }
    .title-1{
      margin-bottom:35px;
    }
    .width-415{
      height:405px;
    }
    .width-528{
      height:360px;
    }
    .width-472{
      height:360px;
    }
    .width-417{
      height:360px;
    }
    .testimonial-box{
      ul {
        margin-bottom:10px;
        li{
          &:nth-child(n+2){
            margin-left:unset;
          }
        }
      }
      p{
        font-size:20px;
      }
      > div{
        padding-top:65px;
        &.box-1{
          top:45px;
        }
      }
    }
  }


  // phone view //
  .phone-view{
    .phone-view-box{
      img{
        height:470px;
      }
    }
    .phone-view-block{
      justify-content:center;
      >div{
        text-align: center;
        width: fit-content;
      }
    }
  }

  // Footer //
  footer{
    padding-top:84px;
    .footer-main{
      margin-bottom:40px;
      .footer-left {
        .brand-logo{
          margin-bottom:30px;
          img{
            height:90px;
          }
        }
      }
      .footer-right {
        ul{
          li {
            a{
              font-size:20px;
            }
          }
          &:first-child{
            li{
              &:nth-child(n+2){
                margin-left:20px;
              }
            }
          }
          &.icon{
            margin-top:30px;
          }
        }
      }
      ul.icon{
        li{
          img{
            width:40px;
            height:auto;
          }
          &:nth-child(n+2){
            margin-left:10px;
          }
        }
      }
    }



  }

  // our mission //
  .our-mission {
    p{
      font-size:22px;
    }
    .title-1 {
      h2{
        font-size:40px;
      }
    }
  }

  // terms & condition
  .condition-section {
    .terms-details {
      ul {
        li {
          font-size: 22px;
        }
      }
    }
  }

  // our team //
  .our-team{
    &:before{
      top: -20%;
    }
    .title-1 {
      margin-bottom:40px;
      h2{
        margin-bottom:15px;
      }
      p{
        font-size:22px;
      }
    }
    .team-box{
      .front,.back{
        .team-detail{
          padding-top: 30px;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
    .animat-block{
      .animat1{
        width:auto;
        height:60px;
      }
      .animat2{
        height:50px;
      }
    }
  }


  // about //
  .about {
    .about-contain{
      height:550px;
      .title-1 {
        h2{
          margin-bottom:10px;
        }
        p{
          font-size:22px;
        }
      }
    }
  }


  //advisory
  .advisory {
    .advisory-box {
      width:75%;
      .advisory-detail {
        h2{
          font-size:22px;
        }
      }
    }
  }




}

@media(max-width:1366px) {
  .testimonial .testimonial-box.box1-pl1 {
    margin-left: -30px;
  }
  .custom-container,.container-second{
    padding-left:60px;
    padding-right:60px;
  }
  //testimonial //
  .testimonial {
    .width-415{
      height:385px;
    }
    .width-528{
      height:340px;
    }
    .width-472{
      height:340px;
    }
    .width-417{
      height:340px;
    }
    .testimonial-box {
      p{
        font-size: 18px;
      }

      > div{
        &.box-1{
          top:20px;
          padding-left: 80px;
          padding-right: 105px;
        }
        &.box-3{
          padding-left:100px;
        }
        &.box-4{
          padding-left:100px;
        }
      }
    }
  }

  //our team //
  .our-team {
    .team-block{
      padding-left: 70px;
      padding-right: 70px;
    }
    .animat-block {
      .round1{
        top: 10%;
        right: 10%;
      }
      .animat1{
        left: -5px;
      }
    }
  }


  // about //
  .about {
    .animat-block {
      .animat1{
        height:80px;
      }
      .animat2{
        height: 30px;
      }
      .animat3{
        height:100px;
      }
    }
  }


}

@media(max-width: 1300px) and (min-width: 1200px){
  // scientific start //
  .scientific {
    .scientific-box {
      padding:13px;
      .icon-wrapper{
        margin-bottom:15px;
        img{
          height:50px;
        }
      }
      .scientific-contain{
        padding-top:35px;
        padding-left:20px;
        padding-right:20px;
        min-height: 340px;
        max-height: 340px;
        p{
          font-size:16px;
        }
      }
    }
  }

  //  our team //
  .our-team {
    .team-box {
      .front,.back {
        h3{
          font-size:26px;
        }
        h5,h4{
          font-size:16px;
        }
      }
    }
  }




}


@media (max-width: 1280px){
  // our team //
  .our-team {
    &:before{
      top: -23%;
    }
    .team-box {
      height:410px;
      .front,.back {
        p{
          font-size:14px;
        }
      }
    }
  }



}



@media (max-width: 1199px){
  .custom-container, .container-second{
    padding-left: 50px;
    padding-right: 50px;
  }
  .title-1{
    h2{
      font-size:40px;
    }
  }

  //baby genius
  .baby-genius {
    background-position:19%;
    .baby-genius-contain {
      height:715px;
      h4{
        font-size:20px;
      }
      h2{
        font-size: 35px;
        margin-bottom:10px;
      }
      p{
        font-size:18px;
      }
    }
  }

  // stimulation //
  .stimulation {
    .title-1 {
      margin-bottom:30px;
      h2{
        margin-bottom:15px;
      }
    }

    .stimulation-contain {
      ul.stimulate-main {
        li {
          .content-wrraper {
            p{
              width:445px;
            }
          }
          &:nth-child(n+2){
            margin-top:30px;
          }
        }
      }
    }

    .animat-block {
      .animat3{
        left:50%;
      }
    }

  }

  // Scientific //
  .scientific {
    .scientific-box {
      max-width:320px;
      .icon-wrapper{
        margin-bottom:15px;
        img{
          width:auto;
          height:50px;
        }
      }
      .scientific-contain{
        padding-top:35px;
        padding-bottom:30px;
        padding-right:25px;
        text-align:center;
        min-height:360px;
        max-height:360px;
        p{
          font-size:20px;
        }
      }
    }
    .scientific-block{
      margin-bottom: -25px;
      >div{
        width:50%;
        margin-bottom: 25px;
        &:nth-child(odd){
          .scientific-box{
            margin-left: auto;
          }
        }
        &:nth-child(even){
          .scientific-box{
            margin-right:auto;
          }
        }
      }
    }
  }

  //testimonial //
  .testimonial {
    .title-1{
      margin-bottom:35px;
    }
    .swiper-container{
      margin-left: -20px;
    }
    .testimonial-box{
      p{
        font-size:18px;
      }
      >div{
        padding-top: 50px;
        &.box-1{
          top: 40px;
          >div{
            padding-left: 5px;
          }
        }
        &.box-2{
          padding-left: 125px;
          padding-right: 118px;
        }
        &.box-3{
          padding-left: 115px;
          padding-right: 123px;
        }
        &.box-4{
          padding-left: 109px;
          padding-right: 70px;
        }
      }

    }


    .owl-nav {
      button{
        &.owl-prev,&.owl-next{
          &:after{
            font-size: 60px;
          }
        }
        &.owl-prev{
          //left: -40px;
        }
      }
    }


    .swiper-button-prev,.swiper-button-next{
      &:after{
        font-size: 60px;
      }
    }
  }

  // about //
  .about {
    .about-contain{
      height:500px;
      .title-1 {
        p{
          font-size:20px;
        }
      }
    }

    .animat-block {
      .animat1,.animat2,.animat3{
        width:auto;
      }
      .animat1{
        height:80px;
      }
      .animat2{
        height:30px;
      }
      .animat3{
        height:100px;
      }
      .round4,.round6,.round5{
        width:10px;
        height:10px;
      }
      .round1,.round2,.round3{
        width:18px;
        height:18px;
      }
    }

  }


  // our mission //
  .our-mission {
    .title-1 {
      h2{
        font-size:35px;
      }
    }
    p{
      font-size: 20px;
    }
    .our-mission-block{
      padding:0 70px;
    }
  }


  // terms & condition
  .condition-section {
    .terms-details {
      ul {
        li {
          font-size: 20px;
        }
      }
    }
  }



  // our team //
  .our-team {
    .title-1{
      h2{
        margin-bottom:10px;
      }
      p{
        font-size:20px;
      }
    }
    .team-box{
      height:400px;
    }
    .team-block{
      padding-left:30px;
      padding-right:30px;
    }
    .animat-block {
      .round1{
        top: 5%;
        right: 5%;
        width: 18px;
        height: 18px;
      }
      .animat1{
        top:9%;
        height:50px;
      }
      .animat2{
        height:40px;
      }
    }
      &:before{
        top: -27%;
      }
  }







  // phone view //
  .phone-view {
    .phone-view-box {
      img{
        height:400px;
      }
    }
  }

  //advisory//
  .advisory {
    .advisory-box {
      .advisory-detail {
        margin-top:15px;
        h2{
          font-size:20px;
        }
        .hover-contain{
          p{
            margin-top: 20px;
          }
        }
      }
    }
    .advisory-block {
      > div{
        margin-bottom:-30px;
        .advisory-box{
          margin-bottom:30px;
        }
      }
    }
  }


  // footer //
  footer{
    padding-top: 160px;
  }


}



@media (max-width: 1099px){
  // our team //
  .our-team {
    .team-block{
      padding-left:120px;
      padding-right:120px;
    }
  }
}



@media (max-width:1026px){
  // our team //
  .our-team {
    .team-block{
      padding-left:80px;
      padding-right:80px;
    }
  }
}



@media (max-width:991px) {

  .custom-container, .container-second{
    padding-left:40px;
    padding-right:40px;
  }
  .arrow-1 {
    .slick-prev,.slick-next{
      &:before{
        font-size:40px;
      }
    }
  }

  .arrow-1{
    &.arrow-dark {
      .slick-prev,.slick-next{
        &:before{
          color:$white;
        }
      }
    }
  }

  .title-1 {
    h2{
      font-size:35px;
    }
    p{
      font-size:16px;
    }
  }

  //header //
  header {
    padding-top:20px;
    .brand-logo {
      img{
        height:80px;
      }
    }
  }

  //baby genius
  .baby-genius {
    .baby-genius-contain {
      height:580px;
      h4{
        font-size:18px;
        margin-bottom:5px;
      }
      h2{
        font-size:26px;
        margin-bottom:5px;
      }
      p{
        font-size:16px;
      }
    }
    .animat-block {
      .cloud1,.cloud2,.cloud3{
        height:30px;
      }
    }
  }

  // stimulation //
  .stimulation {
    padding-top:40px;
    padding-bottom:50px;
    &:before{
      display:none;
    }
    .title-1{
      h2{
        margin-bottom:10px;
      }
      p{
        width:auto;
      }
    }
    .stimulation-contain {
      ul.stimulate-main {
        li {
          .content-wrraper {
            h3{
              font-size:25px;
            }
            p{
              font-size:16px;
              width:350px;
            }
          }
        }
      }
    }
  }

  // scientific
  .scientific{
    padding-top:50px;
    padding-bottom:50px;
    &:before{
      display: none;
    }
    .title-1{
      margin-top: unset;
    }
    //.scientific-box {
    //  .scientific-contain {
    //  }
    //}
  }

  // phone view //
  .phone-view {
    padding-top:45px;
    padding-bottom:45px;
    margin-bottom: unset;
    .title-1 {
      margin-top: unset;
      p{
        width:auto;
      }
      ul.phone-view-icon{
        li{
          img{
            width:40px;
            height:auto;
          }
          &:nth-child(n+2){
            margin-left:5px;
          }
        }
      }
    }
    .phone-view-box{
      img{
        height:310px;
      }
    }

  }


  //testimoniall //
  .testimonial{
    padding-top:50px;
    padding-bottom:50px;
    .mt-60{
      margin-top: -45px;
    }
    &:after,&:before{
      display:none;
    }
    .width-415{
      height:352px;
    }
    .width-528{
      height:310px;
    }
    .width-472{
      height: 310px;
    }
    .width-417{
      height: 310px;
    }
    .testimonial-box {
      h3{
        font-size:24px;
      }
      p{
        font-size:16px;
      }
    }
    .testimonial-block{

    }
  }

  // footer //
  footer {
    padding-top:45px;
    .footer-main{
      margin-bottom:25px;
      .footer-left {
        .brand-logo{
          margin-bottom:20px;
          img{
            height:80px;
          }
        }
        .chat-icon {
          h3{
            font-size:18px;
          }
        }
      }
      .footer-right{
        ul{
          li{
            a{
              font-size:18px;
            }
          }
          &.icon{
            margin-top:10px;
          }
        }
      }
      ul.icon {
        li {
          img{
            width:35px;
          }
        }
      }
    }
  }

  //about //
  .about {
    //&:before{
    //  display:none;
    //}
    .about-contain{
      height: 400px;
    }
    .animat-block {
      .animat1{
        height:60px;
      }
      .animat2{
        height:22px;
      }
      .animat3{
        height:60px;
      }
      .star1,.star2{
        width:20px;
        height:auto;
      }
      .round1,.round2,.round3{
        width:15px;
        height:15px;
      }
    }
  }

  // our mission //
  .our-mission{
    padding-top:140px;
    padding-bottom:48px;
    .title-1 {
      h2{
        font-size:30px;
      }
    }
    .our-mission-block{
      padding:0 30px;
    }
  }


  // our team //
  .our-team {
    background-color: $theme-color1;
    padding-bottom:40px;
    padding-top:48px;
    &:after,&:before{
      display: none;
    }
    .title-1 {
      p{
        width: auto;
      }
    }
    .team-box{
      margin-right: 10px;
      margin-left: 10px;
      height:368px;
      .front,.back {
        h3{
          font-size:24px;
        }
        h5,h4{
          font-size: 16px;
        }
        p{
          line-height:1.4;
        }
      }
    }
    .team-block{
      padding-left:120px;
      padding-right:120px;
    }
    .animat-block{
      .animat1,.animat2{
        //display:none;
        width:auto;
      }
      .animat1{
        height:40px;
        top: unset;
        bottom: 0;
      }
      .animat2{
        height:40px;
        top:30%;
      }
    }
  }

  // advisory //
  .advisory{
    padding-bottom:50px;
    padding-top:50px;
    &:before,&:after{
      display: none;
    }
    .advisory-box {
      .advisory-detail{
        padding-left:10px;
      }
    }
    .animat-block {
      .animat3{
        display: none;
      }

    }
    .advisory-block{
      >div{
        &:last-child{
          display: flex;
          margin-top:25px;
          .advisory-box{
            width:36.5%;
            &:first-child{
              order:2;
            }
          }
        }
      }
    }
  }

}


@media (max-width:825px){
  // our team //
  .our-team {
    .team-block{
      padding-left: 50px;
      padding-right: 50px;
    }
    .team-box{
      height:391px;
      .front,.back  {
        h3{
          font-size:22px;
        }
      }
    }
  }
  // phone-view //
  .phone-view {
    .phone-view-block {
      > div{
        width:25%;
      }
    }
  }
}


@media (max-width:767px){
  .custom-container, .container-second{
    padding-left:40px;
    padding-right:40px;
  }
  .section-pt-70{
    padding-top:50px;
  }

  //wow //
  .wow{
    animation-name: none !important;
    visibility: visible !important;
  }
  .title-1{
    h2{
      font-size:28px;
    }
  }
  .arrow-1{
    &.arrow-dark {
      .slick-prev,.slick-next{
        &:before{
          color:$white;
        }
      }
    }
  }


  //header //
  header {
    .brand-logo {
      img{
        height:70px;
      }
    }
  }


  // baby-genius //
  .baby-genius {
    //background-image: url("../images/baby-genius/bg-img1.png") !important;
    //background-position:26%;
    //background-size:auto;
    &:before{
      //display:none;
    }
    .icon-block{
      //bottom:5%;
    }
    .baby-genius-contain{
      //height:480px;
      >div{
        width:50%;
      }
      .partner-animat{
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin: auto;
      }
      h4{
        margin-bottom:10px;
      }
      h2{
        font-size: 24px;
      }
    }
    ul.icon-block {
      li {
        img{
          width:35px;
        }
        &:nth-child(n+2){
          margin-left:10px;
        }
      }
    }
  }


  // stimulation //
  .stimulation {
    padding-bottom:50px;
    padding-top:50px;
    margin-top:unset;
    &:before{
      display:none;
    }
    .title-1 {
      margin-bottom:30px;
      h2{
        margin-bottom:10px;
      }
    }
    .stimulation-contain {
      ul.stimulate-main {
        li {
          justify-content:space-around;
          &:nth-child(even) {
            .img-wrraper{
              margin-left: 30px;
            }
          }
          &:nth-child(odd){
            .img-wrraper{
              margin-right:30px;
            }
          }
          .content-wrraper {
            h3{
              font-size:20px;
            }
            p{
              font-size:14px;
              width:290px;
            }
          }
        }
        .animat3{
          width: 25px;
          height: auto;
          left: 0;
          bottom: 6%;
        }
      }
    }
    .animat-block {
      .animat1,.animat3,.animat4{
        width:30px;
      }
      .animat2{
        width:20px;
      }
    }
  }

  // Scientific //
  .scientific {
    padding-top:50px;
    &:before{
      display:none;
    }
    .title-1{
      margin-top:0;
    }
    .scientific-block {
      margin-bottom:-20px;
      > div{
        margin-bottom:20px;
        width:100%;
        &:nth-child(odd) {
          .scientific-box{
            margin-right:auto;
          }
        }
        &:nth-child(even) {
          .scientific-box{
            margin-left:auto;
          }
        }
      }
    }
  }

  // Phone view //
  .phone-view{
    padding-top:50px;
    padding-bottom:50px;
    margin-bottom:0;
    .title-1{
      margin-top:0;
    }
    .phone-view-block{
      >div{
        width:50%;
        //&:nth-child(odd){
        //  .phone-view-box{
        //    text-align:right;
        //  }
        //}
        //&:nth-child(even){
        //  .phone-view-box{
        //    text-align:left;
        //  }
        //}
        &:nth-child(3){
          .phone-view-box{
            margin-left:auto;
          }
        }
        &:nth-child(n+3){
          margin-top:25px;
        }
      }
    }
    .phone-view-box{
      img{
        height: 400px;
      }
    }
  }

  //Testimonial //
  .testimonial {
    padding-bottom:35px;
    .title-1{
      margin-bottom:25px;
    }
    &:after,&:before{
      display:none;
    }
    .width-415{
      width:100%;
    }
    .width-528{
      width:100%;
    }
    .width-472{
      width:100%;
    }
    .width-417{
      width:100%;
    }
    .item{
      padding-top:unset;
      //background-color: gray;
    }
    .owl-stage-outer{
      margin-left:unset;
    }
    .testimonial-box{
      margin-right:unset;
      margin-top:unset;
      &.box1-pl1{
        margin-left:unset;
      }
      > div{
        padding-top:40px;
        &.box-1{
          padding-left: 65px;
          padding-right: 95px;
        }
        &.box-2{
          padding-top: 60px;
          padding-left: 70px;
          padding-right: 50px;
        }
        &.box-3{
          padding-left: 75px;
          padding-right: 65px;

        }
        &.box-4{
          padding-left: 95px;
          padding-right: 50px;
        }
      }
      ul{
        margin-bottom:5px;
        li{
          i{
            font-size:16px;
          }
        }
      }

    }
    .testimonial-block{
      padding-left: 80px;
      padding-right: 80px;
      >div{
        max-width:400px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .owl-nav {
      margin-right:30px;
      button{
        &.owl-next,&.owl-prev{
          top:unset;
          bottom:0;
          position: unset;
          font-size:40px;
          &:after{
            font-size:40px;
          }
        }
      }
    }


  }

  // Footer //
  footer {
    padding-top:50px;
    .footer-main {
      .footer-left {
        .brand-logo{
          img{
            height:70px;
          }
        }
        .chat-icon {
          h3{
            font-size:16px;
          }
        }
      }
      .footer-right {
        ul {
          li {
            a{
              font-size:16px;
            }
          }
        }
      }
    }
  }

  // about //
  .about{
    padding-bottom:55px;
    &:before{
      background-position:45%;
    }
    .about-contain{
      .title-1{
        p{
          width:auto;
        }
      }
    }
    .animat-block {
      .animat2{
        top:35%;
      }
      .star1{
        left:50%;
      }
      .round1{
        bottom:15%;
        right:25%;
      }
      .round4{
        bottom:65%;
      }
      .round3{
        bottom: 51%;
        right: 4%;
      }
      .round6{
        left:35%;
      }
    }
  }

  // our misision //
  .our-mission {
    padding-bottom:45px;
    .title-1 {
      h2{
        //margin-bottom:10px;
      }
    }
    .img-wrraper{
      margin-bottom:35px;
      text-align:center;
      img{
        width:60%;
      }
    }
    .our-mission-contain {
      margin-top:20px;
      p{
        margin-left: unset;
        width: auto;
        &:nth-child(n+2){
          margin-top:15px;
        }
      }
    }
    .our-mission-block{
      padding-left: unset;
      padding-right:unset;
    }

  }

  // our team //
  .our-team {
    padding-top:48px;
    padding-bottom:45px;
    z-index:2;
    background-color:$theme-color1;
    &:before,&:after{
      display: none;
    }
    .team-block{
      justify-content: center;
      >div{
        max-width:380px;
      }
    }
    .team-box{
      height:385px;
      .front,.back{
        width:100%;
        border-radius:40px;
        h3{
          font-size:24px;
        }
        h4,h5{
          font-size:18px;
        }
        p{
          font-size:16px;
        }
      }
      .front{
        &.hover{
          z-index: 900;
          transform: rotateY(180deg) !important;
          -webkit-transform: rotateY(180deg) !important;
          -moz-transform: rotateY(180deg) !important;
        }
      }
      .back{
        //display: flex;
        //align-items: center;
        &.hover{
          z-index: 1000;
          transform: rotateX(0deg) rotateY(0deg) !important;
          -webkit-transform: rotateX(0deg) rotateY(0deg) !important;
          -moz-transform: rotateX(0deg) rotateY(0deg) !important;
        }
      }


      &:hover{
        .front{
          transform: rotateX(0deg) rotateY(0deg);
          -webkit-transform-style: preserve-3d;
        }
        .back {
          transform: rotateY(-180deg);
          -webkit-transform-style: preserve-3d;
        }
      }


    }
    .animat-block {
      .animat1{
        height:30px;
      }
      .animat2{
        height:30px;
        top:35%;
      }
    }
  }

  .advisory{
    padding-top:50px;
    padding-bottom:50px;
    .title-1{
      margin-bottom:45px;
    }
    &:after,&:before{
      display: none;
    }
    .advisory-box {
      .advisory-detail {
        h2{
          font-size: 18px;
        }
        h3{
          font-size:14px;
        }
        .hover-contain {
          p{
            font-size:14px;
          }
        }
      }
    }
    .advisory-block{
      >div{
        &:last-child{
          display: flex;
          margin-top:25px;
          .advisory-box{
            width:36.5%;
            &:first-child{
              order:2;
            }
          }
        }
      }
    }
  }







}


@media (max-width:600px){

  // stimulation //
  .stimulation {
    .stimulation-contain {
      ul.stimulate-main {
        li{
          &:nth-child(n+2){
            margin-top:15px;
          }
        }
      }
    }
  }
}

@media (max-width:575px){
  .custom-container,.container-second,.container-fluid{
    padding-left:25px;
    padding-right:25px;
  }
  .title-1 {
    h2{
      font-size:26px;
    }
    p{
      font-size:14px;
    }
  }

  //header //
  header{
    padding-top:15px;
    padding-left:30px;
    padding-right:30px;
    text-align:left;
    display:flex;
    justify-content:space-between;
    align-items:center;
    .about-link{
      position:unset;
      display: unset;
    }
  }

  // baby genius start //
  .baby-genius {
    background-image: url("../images/baby-genius/mobile-back.png") !important;
    background-position:bottom;
    .baby-genius-contain{
      height:798px;
      >div{
        width:auto;
        text-align: center;
        position: relative;
        margin-bottom:90px;
      }
      h4{
        font-size:28px;
        line-height:35px;
        margin-bottom:5px;
        span{
          font-weight:900;
        }
      }
      h2{
        font-size:34px;
        margin-bottom:10px;
        line-height:33px;
      }
      p{
        font-size:19px;
        line-height:23px;
      }
    }
    ul.icon-block {
      position:unset;
      margin-top:20px;
      li {
        img{
          width:38px;
        }
        &:nth-child(n+2){
          margin-left:5px;
        }
      }
    }
    .animat-block{
      .cloud1,.cloud2,.cloud3{
        height:20px;
      }
      .star1{
        bottom: 37%;
        left: 20%;
      }
      .star2{
        top: 25%;
        right: 90%;
      }
      .star3{
        top: 12%;
        right: 40%;
      }
      .cloud2{
        top:18%;
      }
    }
    .partner-animat{
      width:auto;
      height:215px;
      margin-left:auto;
      margin-right:auto;
      left:0;
      bottom:5%;
    }
  }

  // stimulation //
  .stimulation {
    .title-1{
      h2{
        margin-bottom:5px;
      }
    }
    .stimulation-contain {
      ul.stimulate-main {
        li {
          display:grid;
          .content-wrraper {
            width: auto;
            text-align: center;
            p{
              margin-left:auto;
              margin-right:auto;
              width: auto;
            }
          }
          .img-wrraper{
            width:auto;
            text-align: center;
            margin-bottom:20px;
            img{
              width:50%;
              height:auto;
            }
          }
          &:nth-child(odd) {
            .img-wrraper{
              margin-right:unset;
              text-align:center;
            }
          }
          &:nth-child(even) {
            .img-wrraper{
              margin-left:unset;
              text-align:center;
            }
            .content-wrraper{
              order:2;
              text-align:center;
            }
          }
          &:nth-child(n+2){
            padding-top:30px;
            margin-top:unset;
          }
        }
      }
    }
    .animat-block {
      .animat3{
        bottom:8%;
        left:0;
      }
    }
  }

  // scientific //
  .scientific {
    .title-1{
      margin-bottom:20px;
    }
    .scientific-block {
      >div{
        width:unset;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  // phone view //
  .phone-view {
    .title-1 {
      margin-bottom:30px;
      h2{
        margin-bottom:5px;
      }
      ul.phone-view-icon {
        margin-top:15px;
        li {
          img{
            width:30px;
          }
        }
      }
    }
    .phone-view-box {
      img{
        height:310px;
      }
    }
    .phone-view-block {
      > div{
        &:nth-child(n+3){
          margin-top:20px;
        }
      }
    }
  }

  // testimonial //
  .testimonial {
    .title-1{
      margin-bottom:20px;
    }
    .testimonial-box {
      h3{
        font-size:20px;
      }
    }
    .testimonial-block{
      padding-left:50px;
      padding-right:50px;
    }
  }

  //footer //
  footer {
    .footer-main{
      display: block;
      .footer-left{
        margin-bottom:15px;
        .brand-logo{
          margin-bottom:30px;
        }
        .chat-icon {
          h3{
            margin-bottom:20px;
          }
        }
      }
      .footer-right{
        text-align: left;
        ul{
          &:first-child {
            li{
              &:nth-child(n+2){
                margin-left:15px;
              }
            }
          }
        }
      }
    }
  }

  .contact-modal {
    .modal-body{
      padding:20px;
      form {
        .form-group {
          label{
            font-size:16px;
          }
          .form-control{
            padding: 5px 10px;
            font-size:14px;
          }
        }
      }
      .submit-message{
        margin-top:10px;
        font-size: 14px;
        padding: 10px 22px;
      }
    }

  }



  // about //
  .about{
    padding-bottom:unset;
    background-position:bottom;
    background-image:url("../images/about/mobile-back.png") !important;
    &:before{
      display:none;
    }
    .about-contain{
      height:800px;
      .title-1{
        margin-top:10%;
        h2{
          font-size:34px;
          line-height:34px;
        }
        p{
          font-size: 19px;
          line-height: 23px;
        }
      }
    }
    .animat-block {
      .animat1{
        height:30px;
      }
      .animat2{
        height:18px;
      }
      .animat3{
        height:30px;
      }
      .round1,.round2,.round3,.round4,.round5,.round6,.round7{
        width:10px;
        height:10px;
      }
      .star1,.star2{
        width: 15px;
      }
    }
  }


  // our mision //
  .our-mission {
    padding-top:40px;
    p{
      font-size:18px;
    }
  }



  // terms & condition
  .condition-section {
    .terms-details {
      ul {
        padding-left: 20px;
        li {
          font-size: 18px;
          span {
            padding-left: 5px;
          }
        }
      }
    }
  }


  // our team //
  .our-team {
    .title-1 {
      p{
        font-size:18px;
      }
    }
  }


  // advisory //
  .advisory{
    .container-second{
      //padding: 0;
    }
    .advisory-block{
      >div{
        flex: 50%;
      }
    }
  }




}

@media (max-width:480px){
  .arrow-1 {
    .slick-prev,.slick-next{
      &:before{
        font-size:30px;
      }
    }
  }

  // header //
  header{
    padding-left:20px;
    padding-right:20px;
    .brand-logo {
      img{
        height:60px;
      }
    }
  }

  // phone view //
  .phone-view{
    .phone-view-box {
      img{
        height:300px;
      }
    }
  }


  // testimonial //
  .testimonial {
    .testimonial-block{
      padding-left:30px;
      padding-right:30px;
    }
  }

  // stimulation //
  .stimulation {
    .animat-block {
      .animat1,.animat3,.animat4{
        width:25px;
      }
      .animat1{
        top:18%;
      }
      .animat2{
        top:43%;
      }
      .animat3{
        width:25px;
      }
      .animat4{
        top:35%;
      }
    }
  }


  // our-mission //
  .our-mission {
    .title-1 {
      h2{
        font-size:25px;
      }
    }
  }

  // our team //
  .our-team {
    .team-block{
      >div{
        width:100%;
      }
    }
    .team-box {
      .front,.back {
        .team-detail{
          padding-top: 20px;
          padding-left: 20px;
          padding-right: 20px;
        }
        h3{
          font-size:22px;
        }
        h4,h5{
          font-size:16px;
        }
      }
    }
  }

  // advisory
  .advisory {
    .advisory-box {
      width:85%;
      .advisory-detail {
        h2{
          font-size:20px;
        }
        h3{
          font-size: 14px;
        }
      }
    }
    .advisory-block {
      > div{
        &:last-child{
          .advisory-box{
            width:40%;
          }
        }
      }
    }
  }


  // footer //
  footer {
    .footer-main {
      .footer-left {
        .brand-logo{
          img{
            height:60px;
          }
        }
      }
    }
  }


}







@media (max-width: 420px){
  // baby ginus //
  .baby-genius {
    .baby-genius-contain {
      >div{
        margin-bottom:15px;
      }
      h2{
        margin-bottom:15px;
      }
      h4{
        width:250px;
        margin-left:auto;
        margin-right:auto;
      }
    }
    .partner-animat{
      height:178px;
      bottom:3%;
    }
    .animat-block {
      .star1{
        bottom:30%;
        left:23%;
      }
      .star2{
        top: 30%;
        right: 10%;
      }
      .cloud2{
        top:15%;
      }
    }
  }


  // advisory //
  .advisory {
    .title-1{
      margin-bottom: 25px;
    }
    .advisory-box{
      text-align: center;
      .advisory-detail {
        padding-left: unset;
        .hover-contain {
          p{
            margin-top:15px;
          }
        }
      }
    }
    .advisory-block {
      > div{
        flex:100%;
        &:nth-child(n+2){
          margin-top:25px;
        }
        &:last-child{
          display: block;
          .advisory-box{
            width:80%;
          }
        }
      }
    }

  }
  .arrow-1 {
    .slick-next,.slick-prev{
      top:unset;
      bottom:-50px;
    }
    .slick-next{
      right:45%;
    }
    .slick-prev{
      left:45%;
    }
  }

  // our team //

  .our-team {
    padding-bottom:80px;
    .team-block{
      padding-left:20px;
      padding-right:20px;
    }
    .team-box{
      height:335px;
      .front,.back{
        p{
          font-size: 14px;
        }
      }
    }
  }

  // scientific //
  .scientific {
    .scientific-box {
      .scientific-contain {
        min-height:330px;
        max-height:330px;
        p{
          font-size:18px;
        }
      }
    }
  }


  // testimonial //
  .testimonial {
    .testimonial-box {
      > div{
        &.box-1{
          padding-left: 45px;
          padding-right: 55px;
        }
        &.box-2{
          padding-top:80px;
        }
        &.box-3{
          padding-left: 55px;
          padding-right: 55px;
        }
        &.box-4{
          padding-left: 70px;
          padding-right: 25px;
        }
      }
       p{
         font-size:15px;
         line-height: 1.3;
       }
    }
    .testimonial-block{
      padding-left: unset;
      padding-right: unset;
    }
  }


}



@media (max-width: 360px) {
  // baby ginus //
  .baby-genius {
    .baby-genius-contain {
      h4{
        font-size:18px;
        line-height:25px;
        width:160px;
      }
      h2{
        font-size:28px;
        line-height:1;
        margin-bottom:10px;
      }
    }

    ul.icon-block {
      li {
        img{
          width:32px;
        }
      }
    }
  }

  // stimulation //
  .stimulation {
    .stimulation-contain {
      ul.stimulate-main {
        li{
          .img-wrraper{
            margin-bottom: 15px;
          }
          .content-wrraper {
            h3{
              font-size:18px;
            }
          }
          &:nth-child(n+2){
            padding-top:20px;
          }
        }
      }
    }
    .animat-block {
      .animat1, .animat2, .animat3, .animat4{
        width:20px;       ;
      }
      .animat3{
        bottom:12%;
      }

      .animat1{
        top:28%;
      }
      .animat4{
        top:40%;
      }
    }
  }

  // Scientific //
  .scientific {
    .scientific-box {
      .scientific-contain{
        padding:20px 15px;
        min-height:300px;
        max-height:300px;
        p{
          font-size:16px;
        }
      }
    }
  }

  // phone view //
  .phone-view {
    .phone-view-box {
      img{
        height:220px;
      }
    }
  }

  // our team //
  .our-team {
    .team-block{
      padding-left: unset;
      padding-right:unset;
    }
    .team-box{
      height:345px;
      .front,.back {
        h3{
          font-size:20px;
        }
      }
    }
  }

  // testimoniall //
  .testimonial {
    .testimonial-box {
      >div{
        display:flex;
        align-items:center;
        padding-top: unset;
        &.box-2{
          padding-top:unset;
        }
      }
    }
  }


}
