// variable //
$font-1:'Baloo 2', cursive;
$font-2:'Lato', sans-serif;
$font-awesome:FontAwesome;
$white:#ffffff;
$black:#000000;
$white1:#e1f3f5;
$title-color:#5169b1;
$theme-color1:#6184c6;
$theme-color2:#a3dbe2;
$dark:#626262;
$dark1:#5f5f5f;
$green:#40cca1;
$blue:#a6acd7;
$orange:#faa961;
$orange2:#ebc04e;
$pink:#fcb1b1;


$drop-shadow1:#fae5e5;
$drop-shadow2:#fccfbc;


